@import "tailwindcss";

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  padding: 0;
  background: radial-gradient(circle at top right, #1e293b, #0f172a, #020617);
  background-attachment: fixed;
  color: #e2e8f0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: #020617; }
::-webkit-scrollbar-thumb { background: #334155; border-radius: 10px; }
::-webkit-scrollbar-thumb:hover { background: #3b82f6; }